<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>
    <link href="../Styles/styles.css" rel="stylesheet">
</head>

<body>

    <main class="main">

        <div class="img-container">
            <img src="../Images/logo.png" alt="Logo" class="imglogo">
        </div>

        <p class="navigation"> Click Here to Display a Nav-Bar</p>

        <nav class="responsive-nav">
            <ul>
                <li><a href="../../MainView/View/empty.html">Home</a></li>
                <li><a href="../../Bookings/View/index.html">Bookings</a></li>
                <li><a href="../../EditProfile/View/index.html">Profile</a></li>
                <li><a href="../../Configuration/View/index.html">Settings</a></li>
                <li><a href="../../index.html">Logout</a></li>
                <li><a href="../../MyRides/View/index.html" id="myridess">Rides</a></li>
            </ul>
        </nav>

        <nav class="nav-bar">
            <ul class="nav-left">
                <li><a href="../../MainView/View/empty.html" class="home">Home</a></li>
                <li><a href="../../MyRides/View/index.html" id="myrides">Rides</a></li>
                <li><a href="../../Bookings/View/index.html">Bookings</a></li>
            </ul>
            <div class="nav-right">
                <input type="text" placeholder="Search...">
                <div class="img-hover">
                    <img src="../Images/user.png" alt="user" class="icono-usuario">
                    <div class="test">
                        <table>
                            <tr>
                                <th><a href="../../index.html">Logout</a></th>
                            </tr>
                            <tr>
                                <th><a href="../../EditProfile/View/index.html">Profile</a></th>
                            </tr>
                            <tr>
                                <th><a href="../../Configuration/View/index.html">Settings</a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </nav>


        <h1 class="main-title"> Configuration </h1>
        <div class="border-bottom"></div>

        <form class="form">
            <div class="name-container">
                <label for="name" class="name"> Public Name </label>
                <input type="text" class="name" placeholder="Bladimir" id="name">
            </div>
            <div class="bio-container">
                <label for="bio" class="lbl"> Public Bio </label>
                <textarea rows="8" id="bio"></textarea>
            </div>

            <div class="links">
                <a href="#"> Cancel </a>
                <a href="../../MainView/View/empty.html" class="sign-up"> Save </a>
            </div>

        </form>
    </main>

    <footer>
        <div class="footer-top"></div>
        <div class="footer-content">
            <a href="../../MainView/View/empty.html">Home</a> <span class="raya">|</span>
            <a href="../../MyRides/View/index.html" id="rides">Rides</a> <span id="raya">|</span>
            <a href="../../Bookings/View/index.html">Bookings</a> <span class="raya">|</span>
            <a href="../../Configuration/View/index.html">Settings</a> <span class="raya">|</span>
            <a href="../../index.html">Login</a> <span class="raya">|</span>
            <a href="../../SignIn/View/index.html">Register</a> <span class="raya">|</span>
        </div>
        <div class="footer-bottom">
            <span>© Aventones.com</span>
        </div>
    </footer>

    <script src="../../JS/General Things/responsivenav.js"></script>

    <script src="../../JS/General Things/hidenav.js"></script>
    <script src="../../JS/General Things/bioupdate.js"></script>

</body>

</html>