<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIn</title>
    <link href="../Styles/driver.css" rel="stylesheet" />
    <script src="../Js/driver.js"></script>
</head>

<body>
    <!-- Main -->
    <main class="main">
        <!-- Logo -->
        <div class="logo-container">
            <img src="../Images/logo.png" alt="logo" class="Aventones-logo" />
        </div>

        <p class="main-title">Driver Registration</p>
        <!-- Decoration Line -->
        <div class="border-bottom"></div>

        <!-- User Info -->
        <form class="general-container" id="general-container">
            <div class="flex-container">
                <div class="input-group">
                    <label for="first-name" class="lbl-first-name">First Name</label>
                    <input type="text" class="first-name" id="first-name" required />
                </div>
                <div class="input-group">
                    <label for="last-name" class="lbl-last-name">Last Name</label>
                    <input type="text" class="last-name" id="last-name" required />
                </div>
            </div>

            <div class="individual-inputs">
                <label for="cedula" class="lbl-ced">Cedula</label>
                <input type="number" class="cedula" id="cedula" required />
            </div>


            <div class="individual-inputs">
                <label for="email" class="lbl-email">Email</label>
                <input type="text" class="email" id="email" required />
            </div>


            <div class="flex-container">
                <div class="input-group">
                    <label for="first-password" class="lbl-first-password">Password</label>
                    <input type="password" class="first-password" id="first-password" required />
                </div>
                <div class="input-group">
                    <label for="second-password" class="lbl-second-password">Repeat Password</label>
                    <input type="password" class="second-password" id="second-password" required />
                </div>
            </div>

            <div class="individual-inputs">
                <label for="address" class="lbl-address">Address</label>
                <input type="text" class="address" id="address" required />
            </div>


            <div class="flex-container">
                <div class="input-group">
                    <label for="country" class="lbl-country">Country</label>
                    <select class="country" id="country"></select>
                </div>
                <div class="input-group">
                    <label for="state" class="lbl-state">State</label>
                    <input type="text" class="state" id="state" required />
                </div>
            </div>



            <div class="flex-container">
                <div class="input-group">
                    <label for="city" class="lbl-city">City </label>
                    <input type="text" class="city" id="city" required />
                </div>
                <div class="input-group">
                    <label for="phone-code" class="lbl-phone-code">Phone Number </label>
                    <input type="text" class="phone-code" id="phone-code" required />
                </div>
            </div>

            <div class="flex-container">
                <div class="input-group">
                    <label for="brand" class="lbl-brand">Marca</label>
                    <input type="text" class="brand" id="brand" required />
                </div>
                <div class="input-group">
                    <label for="model" class="lbl-model">Modelo</label>
                    <input type="text" class="model" id="model" required />
                </div>
            </div>

            <div class="flex-container">
                <div class="input-group">
                    <label for="year" class="lbl-year">Año</label>
                    <input type="text" class="year" id="year" required />
                </div>
                <div class="input-group">
                    <label for="placa" class="lbl-placa">Numero de Placa</label>
                    <input type="text" class="placa" id="placa" required />
                </div>
            </div>

            <div class="individual-inputs">
                <label for="born-date" class="lbl-date">Address</label>
                <input type="date" class="born-date" id="born-date" required />
            </div>


            <div class="links">
                <p>Already an user? <a href="../../index.html">Login Here</a></p>
                <p>Register as driver? <a href="#">Click Here</a></p>
            </div>
            <button type="submit" class="sign-up">Sign up <a href="../../index.html"></a></button>
        </form>
    </main>

    <footer>
        <!-- Footer Decorative Line -->
        <div class="footer-top"></div>
        <!-- Footer -->
        <div class="footer-content">
            <a href="../../MainView/View/empty.html">Home</a> |
            <a href="../../MyRides/View/index.html">Rides</a> |
            <a href="../../Bookings/View/index.html">Bookings</a> |
            <a href="../../Configuration/View/index.html">Settings</a> |
            <a href="../../index.html">Login</a> |
            <a href="../../SignIn/View/index.html">Register</a>
        </div>
        <div class="footer-bottom">
            <span>© Aventones.com</span>
        </div>
    </footer>
</body>

</html>