body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.main-title {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: none;
    font-size: 52px;
}

.border-bottom {
    border: 1px solid #ccc;
    margin: 0 auto 12px;
    margin-top: -40px;
    font-weight: 100;
    width: 15%;
}


.general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.individual-inputs {
    width: 43.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-name,
.last-name,
.first-password,
.second-password,
.city,
.state,
.phone-code {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.address,
.email, .born-date, .cedula {
    width: 620px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


.country {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;

}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.sign-up {
    display: block;
    margin: auto;
    background-color: gray;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    width: 10%;
    text-align: center;
    margin-top: 30px;
}



/* Footer Styles */

footer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-top {
    border-top: 1px solid #ccc;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}

.footer-content a {
    text-decoration: none;
    color: #ccc;
}

.footer-content a:hover {
    color: purple;
}

.footer-bottom {
    margin-top: 20px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}




/* Responsive Styles */


@media (min-width: 390px) and (max-width: 844px) {

    .general-container {
        margin: auto;
    }

    .flex-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .individual-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .email,
    .address {
        width: 280px;
        margin-bottom: 10px;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .sign-up {
        width: 50%;
    }

    .cedula, .born-date {
        width: 280px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .raya {
        display: none;
    }
}



@media (min-width: 845px) and (max-width: 1024px) {

    .individual-inputs {
        width: 640px;
        display: flex;
        align-items: start;

    }

    .sign-up {
        width: 50%;
    }

}



@media (min-width: 1025px) {

    .individual-inputs {
        width: 645px;

    }

    .sign-up {
        width: 38%;
    }



}

