<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=W, initial-scale=1.0">
    <title>Document</title>
    <link href="../Styles/styles.css" rel="stylesheet">

</head>

<body>

    <main class="main">
        <!-- Logo -->
        <div class="img-container">
            <img src="../Images/logo.png" alt="Logo" class="imglogo">
        </div>

        <p class="navigation"> Click Here to Display a Nav-Bar</p>


        <nav class="responsive-nav">
            <ul>
                <li><a href="../../MainView/View/empty.html">Home</a></li>
                <li><a href="../../Bookings/View/index.html">Bookings</a></li>
                <li><a href="../../EditProfile/View/index.html">Profile</a></li>
                <li><a href="../../Configuration/View/index.html">Settings</a></li>
                <li><a href="../../index.html">Logout</a></li>
                <li><a href="../../MyRides/View/index.html" id="myridess">Rides</a></li>
            </ul>
        </nav>
        <!-- Nav-Bar -->
        <nav class="nav-bar">
            <ul class="nav-left">
                <li><a href="../../MainView/View/empty.html" class="home">Home</a></li>
                <li><a href="../../MyRides/View/index.html" class="ride">Rides</a></li>
                <li><a href="../../Bookings/View/index.html">Bookings</a></li>
            </ul>
            <div class="nav-right">
                <input type="text" placeholder="Search...">
                <!-- Table for Settings on Avatar -->
                <div class="img-hover">
                    <img src="../Images/user.png" alt="user" class="icono-usuario">
                    <div class="test">
                        <table>
                            <tr>
                                <th><a href="../../index.html">Logout</a></th>
                            </tr>
                            <tr>
                                <th><a href="../../EditProfile/View/index.html">Profile</a></th>
                            </tr>
                            <tr>
                                <th><a href="../../Configuration/View/index.html">Settings</a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </nav>

        <div class="title">
            <h1> My Rides </h1>
            <div class="bottom-line"></div>
        </div>

        <div class="new-ride">
            <a href="../../AddRide/View/index.html"> New Ride </a>
        </div>

        <!-- Main Table -->
        <div class="table-container">
            <table id="rides-table">
                <thead>
                    <tr class="first-row">
                        <th>From</th>
                        <th>To</th>
                        <th>Seat</th>
                        <th>Car</th>
                        <th>Fee</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Las filas se insertan aquí desde renderRides.js -->
                </tbody>
            </table>

        </div>

    </main>

    <footer>
        <div class="footer-top"></div>
        <div class="footer-content">
            <a href="../../MainView/View/empty.html">Home</a> <span class="raya">|</span>
            <a href="../../MyRides/View/index.html" id="rides">Rides</a> <span id="raya">|</span>
            <a href="../../Bookings/View/index.html">Bookings</a> <span class="raya">|</span>
            <a href="../../Configuration/View/index.html">Settings</a> <span class="raya">|</span>
            <a href="../../index.html">Login</a> <span class="raya">|</span>
            <a href="../../SignIn/View/index.html">Register</a> <span class="raya">|</span>
        </div>
        <div class="footer-bottom">
            <span>© Aventones.com</span>
        </div>
    </footer>
    
    <script src="../../JS/General Things/responsivenav.js"></script>
    <script src="../../JS/Rides/viewRides.js"></script>
    <script src="../../JS/Rides/deleteRide.js"></script>
</body>

</html>